.actions {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding-inline: 0.375rem;

    border: 0;
    background-color: transparent;

    &:hover {
        background-color: var(--color-teal-100);
    }
}

.detail-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    gap: 0.5rem;
}

.detail-container p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-tag {
    flex: 33%;
    color: var(--color-muted);
    font-family: monospace;
    font-size: 1rem;
}

.detail-value {
    flex: 67%;    
}